In [1]:
from node import Node

In [2]:
a = Node('test')
b = Node('letter')
c = Node('number')
d = Node('plus')
e = Node('minus')
f = Node('oops')
b.parent = a
c.parent = b
d.parent = c
e.parent = c
f.parent = b
print('test')
print(a.is_root)
print(b.is_root)
print(a.children)
print(a.is_leaf)
print(b.is_leaf)

test
True
False
[<node.Node object at 0x00000135DD8F5E20>]
False
False

In [3]:
a._to_list()

[['test', 'letter', 'number', 'plus'],
 ['test', 'letter', 'number', 'minus'],
 ['test', 'letter', 'oops']]

In [4]:
a.stats_df(depth=2)

Index(['root', 'depth 1', 'depth 2'], dtype='object')
{'depth 2': 'count'}

                      count
root depth 1 depth 2
test letter  number       2
             oops         1

In [5]:
df = a.to_df().fillna('$')
df

   root depth 1 depth 2 depth 3
0  test  letter  number    plus
1  test  letter  number   minus
2  test  letter    oops       $

In [6]:
df.groupby(by=['root','depth 1', 'depth 2']).count()

                      depth 3
root depth 1 depth 2
test letter  number         2
             oops           1